<section id="about">
  <div class="container">
    <h2 class="will-animate title">Sobre</h2>
    <br>
    <p class="will-animate" >{{ meta.about }}</p>
    <br>
    <a class="will-animate button" href="#socials">FALE CONOSCO</a>
  </div>
</section>