<header id="top">
  <a class="logo hover:text-red-500" href="{{ meta.url}}">{{ meta.siteName }}</a>
  <label id="menuLabel" for="menu">MENU</label>
  <input type="checkbox" id="menu">
  <nav class="nav">
      <a class="will-animate" href="{{ meta.url }}/#about">SOBRE</a>
      <a class="will-animate" href="{{ meta.url }}/#services">SERVIÇOS</a>
      <a class="will-animate" href="{{ meta.url }}/#location">ONDE ESTAMOS</a>
      <a class="will-animate" href="{{ meta.url }}/#team">EQUIPE</a>
      <a class="will-animate" href="{{ meta.url }}/#socials">CONTATO</a>
  </nav>
</header>