<section id="intro">
  <div class="container">
    <h1 class="will-animate">{{ meta.slogan }}</h1>
    <p class="will-animate tagLine">{{ meta.tagLine }}</p>
    <br>
    <a class="will-animate button" href="#about">SAIBA MAIS</a>
  </div>
</section>