<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><strong>Sobre Nós</strong></h2>
                <hr class="light">
                <p class="text">Oficina mecânica situada em Ferraz de Vasconcelos com um time de profissionais qualificados além de diversas ferramentas para poder lhe oferecer um serviço rapido e de qualidade, dês de ferramentas eletrônicas para veículos mais modernos até ferramentas analógicas e manuais.</p>
                <a target="_blank" href="https://wa.me/5511911406590" class="btn btn-default btn-xl">Fale Conosco <i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
</section>
