<section id="team" class="bg-light-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><strong>Nossa equipe</strong></h2>
                <br>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="col-sm-4">
            <div class="team-member">
                <img src="img/team/1.jpg" class="img-circle" alt="">
                <h4>Rogério</h4>
                <p class="text-muted">CEO / Mecânico há mais de 25 anos</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="team-member">
                <img src="img/team/2.jpg" class="img-circle" alt="">
                <h4>André</h4>
                <p class="text-muted">Mecânico / Eletricista Automotivo</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="team-member">
                <img src="img/team/3.jpg" class="img-circle" alt="">
                <h4>Octávio</h4>
                <p class="text-muted">Aprendiz</p>
            </div>
        </div>
    </div>
    

</section>